<h1>All Contacts</h1>

<ul class="noBullet">
<% $rolodex.contacts.each do |contact| %>
  		<li><%= contact.last_name %>, <%= contact.first_name %> </li>
<% end %>
	<li class="letter">A</li>
	<li class="letter">B</li>
	<li class="letter">C</li>
	<li class="letter">D</li>
	<li class="letter">E</li>
	<li class="letter">F</li>
	<li class="letter">G</li>
	<li class="letter">H</li>
</ul>

