<h1>All Contacts</h1>
<br/>
<ul class="noBullet">
<% $rolodex.contacts.each do |contact| %>
	<a href = "/contacts/<%= contact.id %>">
  	<li><%= contact.last_name %>, <%= contact.first_name %> </li>
  	</a>
<% end %>
</ul>

