<!DOCTYPE>
<html>
	<head>
		<title>Bitmaker Rolodex</title>
		<link href="/style.css" rel="stylesheet" type="text/css" />
		<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
	</head>

	<header>
		<h1>The Rolodex</h1>
	</header>

	<nav>
		<ul>
			<li><a href="/">About</a>
  			<li><a href="/contacts">View all Contacts</a></li>
    		<li><a href="/contacts/new">Add a Contact</a></li>
    		<li><a href="/contacts/search">Search Contacts</a></li>
    		<li><a href="/contacts/delete">Delete a Contact</a></li>
		</ul>
	</nav>

	<body>
		<%= yield %>
	</body>

	<footer>
		<h4>&copy; By Wangdu Duntak </h4>
	</footer>
</html>