<!DOCTYPE>
<html>
	<head>
		<title>Bitmaker Rolodex</title>
		<link href="/style.css" rel="stylesheet" type="text/css" />
	</head>

	<header>
		<h1>The Rolodex</h1>
	</header>

	<nav>
		<ul>
			<li><a href="/">Home</a>
  			<li><a href="/contacts">View all contacts</a></li>
    		<li><a href="/contacts/new">Add a contact</a></li>
		</ul>
	</nav>

	<body>
		<%= yield %>
	</body>

	<footer>
		<h4>&copy; By Wangdu Duntak </h4>
	</footer>
</html>