<h1>Create New Contact</h1>

<form action="/contacts" method="post">
  <input class="textbox" type="text" name="first_name" placeholder="First Name">
  <input class="textbox" type="text" name="last_name" placeholder="Last Name"><br/>
  <input class="textbox" type="text" name="email" placeholder="E-mail">
  <input class="textbox" type="text" name="note" placeholder="Notes"></br>
  <input class="submit" type="submit" name="Submit">
</form>