<h1>Search Contacts</h1>

<h2>Enter the ID number of the Contact to be searched:</h2>

<form method="get" action="/contacts/">
  <label for="firstname_input">ID Number:</label>
  <input class="textbox" id="id_input" type="text" name="id" placeholder="ID Number">
  <input class="submit" type="submit" name="Search">
</form>


