body {
	position:relative;
	background-color: #B0C2C4;
	text-align: center;
	height: 600px;
}

header {
	position: relative;
	font-family: 'Oswald', sans-serif;
	font-size: 50pt;
	color: white;
	background-color: red;
	margin-top: 100px;
}
a {
	font-family: 'Oswald', sans-serif;
	font-size: 18pt;
	text-decoration: none;
	color: white;
}

a:hover {
	color: red;
}

nav {
	position: relative;
	margin-top: 0px;
	padding-top: 0px;
	border-top: 0px;
}

footer {
	position: relative;
	text-align: center;
}

.textbox { 
    background: #F5F5F5; 
    height:30px; 
    width: 275px; 
    border-radius: 2em; 
    border: none; 
    margin-top: 20px;
    margin-right: 6px;
    margin-left: 6px;
    color: #A2A2A2; 
    padding-left: 1.5em; 
    outline: none; 
    box-shadow: 0 4px 6px -5px hsl(0, 0%, 40%), inset 0px 4px 6px -5px hsl(0, 0%, 2%) 
} 

.submit { 
    background: #FF0000; 
    height:30px; 
    width: 275px; 
    border-radius: 2em; 
    border: none; 
    margin-top: 20px;
    margin-right: 6px;
    margin-left: 6px;
    color: #FFFFFF; 
    padding-left: 1.5em; 
    outline: none; 
    box-shadow: 0 4px 6px -5px hsl(0, 0%, 40%), inset 0px 4px 6px -5px hsl(0, 0%, 2%) 
} 

.inputs:focus {
    background: #fff;
    box-shadow: 0 0 0 3px #fff38e, inset 0 2px 3px rgba( 0, 0, 0, 0.2 ), 0px 5px 5px rgba( 0, 0, 0, 0.15 );
    outline: none;
}

.noBullet {
	list-style-type: none
}

nav li {
	display: inline;
	padding-left:30px;
	padding-right:30px;
}

.letter {
	font-size: 20pt;
}

